<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.supportcall">

    <application
        android:label="@string/app_name">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.FakeDialerActivity"
            android:exported="true"
            android:label="FakeDialer">
            <intent-filter>
                <action android:name="com.example.supportcall.FAKE_DIAL"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="tel"/>
            </intent-filter>
        </activity>
    </application>
</manifest> 